.userBlock {
    width: 45%;
    font-size: 20px;
    margin: 1px 5px;
    display: flex;
    justify-content: space-between;

}

button {
    background: #c3f8c7;
    border-radius: 5px;
    border: #592806 1px solid;

}